body{
    padding: 0;
    margin: 0;
    background-color: #BFD7EA;
    box-sizing: border-box;
}

figure{
    padding: 0;
    margin: 0;
}

/* стирание стрелок поля ввода*/

.len_in {
  -moz-appearance: textfield;
}
.len_in::-webkit-inner-spin-button {
  display: none;
}

.count_in {
  -moz-appearance: textfield;
}
.count_in::-webkit-inner-spin-button {
  display: none;
}
/**/

[contenteditable="true"]:focus,
input:focus,
select:focus,
textarea:focus,
button:focus {
    outline: none;
}

/*Длина пароля*/

.len_box{
    flex-direction: row;
    display:inline-flex;
    flex-shrink:1;
    margin:30px;
    margin-bottom:20px;
    width:500px;
}

.len_s{
    font-family: Candara, serif;
    font-size: 30px;
    height: 50px;
    color:white;
}

.len_in{
    text-align: center;
    border-bottom-style: solid;
    width:100px;
}

/**/

/*Количество паролей*/

.count_box{
    display: flex;
    flex-shrink:1;
    margin:30px;
    margin-top:20px;
}

.count_s{
    font-family: Candara, serif;
    font-size: 30px;
    height: 50px;
    color:white;
}

.count_in{
    text-align: center;
    border-bottom-style: solid;
    width:100px;

}

/**/

input{
    border:none;
    background-color: black;
    font-size: 25px;
    color:white;
    margin-left: 5px;
}



button{
    position: absolute;
    top:60vh;
    left:180px;
    font-size: 20px;
    font-family: Candara, serif;
    background-color: black;
    color: white;
    border:2px white dashed;
    height: 40px;
}

button:hover{
    background-color: #303033;

}

/*Пароль, список*/

.password_box{
    position: relative;
    left:600px;
    display: flex;
    width: 50vw;
    height: 50vh;
}

ul{
    position: absolute;
    left: 40%;
    list-style-type: none;
}

li{
    font-family: Candara, serif;
    font-size: 35px;
    padding-top: 10px;
}

/**/

.color{
    position: absolute;
    top:0;
    left:0;
    width:580px;
    height:100vh;
    background-color: black;
    z-index: -1;
}
