body{
    padding: 0;
    margin: 0;
    background-color: #8D99AE;
    box-sizing: border-box;
}

figure{
    padding: 0;
    margin: 0;
}

.name{
    font-size: 45px;
    color: #EDF2F4;           
    margin-right: 30px;
    padding:40px;
    padding-left: 30px;
    border-bottom-color: #EDF2F4;
    border-bottom-width: 1px;
    border-bottom-style: solid;
    width:580px;
    height:120px;
    font-family: "Igra Sans", serif;
}

.color{
    position: absolute;
    top:0;
    left:0;
    width:580px;
    height:100vh;
    background-color: #2B2D42;
    z-index: -1;
}

/* стирание стрелок поля ввода*/

.len_in {
  -moz-appearance: textfield;
}
.len_in::-webkit-inner-spin-button {
  display: none;
}

.count_in {
  -moz-appearance: textfield;
}
.count_in::-webkit-inner-spin-button {
  display: none;
}

/**/

[contenteditable="true"]:focus,
input:focus,
select:focus,
textarea:focus,
button:focus {
    outline: none;
}

input{
    border:none;
    background-color: #2B2D42;
    font-size: 25px;
    color: #EDF2F4;
    margin-left: 5px;
}

/*Длина пароля*/

.len_box{
    flex-direction: row;
    display:inline-flex;
    flex-shrink:1;
    margin:30px;
    margin-top:50px;
    margin-bottom:20px;
    width:500px;
}

.len_s{
    font-family: "Igra Sans", serif;
    font-size: 30px;
    height: 50px;
    color: #EDF2F4;
}

.len_in{
    text-align: center;
    border-bottom-style: solid;
    border-bottom-width: 2px;
    width:70px;
}

/**/


/*Количество паролей*/

.count_box{
    display: flex;
    margin:30px;
}

.count_s{
    font-family: "Igra Sans", serif;
    font-size: 30px;
    height: 50px;
    color: #EDF2F4;
}

.count_in{
    text-align: center;
    border-bottom-style: solid;
    border-bottom-width: 2px;
    width:70px;
}

/**/

/*Чек боксы*/

label{
    margin-left: 30px;
    font-family: "Igra Sans", serif;
    font-size:30px;
    color:#EDF2F4;
}

input[type=checkbox]{
     display: none;
}

.custom-checkbox+label {
  display: inline-flex;
  align-items: center;
  user-select: none;
}
.custom-checkbox+label::before {
  content: '';
  display: inline-block;
  width: 1em;
  height: 1em;
  flex-shrink: 0;
  flex-grow: 0;
  border: 1px solid #adb5bd;
  border-radius: 0.25em;
  margin-right: 0.5em;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 50% 50%;
}

.checkbox_int{
    margin-top:55px;
}

.custom-checkbox:checked+label::before {
  border-color: #0b76ef;
  background-color: #0b76ef;
  background-image: url("check.svg");
}

.custom-checkbox:not(:disabled):not(:checked)+label:hover::before {
  border-color: white;
}

.custom-checkbox:not(:disabled):active+label::before {
  background-color: #b3d7ff;
  border-color: #b3d7ff;
}

/**/

/*Кнопки*/

.attention{
    position: absolute;
    left:165px;
    top:665px;
    font-size:21px;
    color: #EDF2F4;
    font-family: "Igra Sans", serif;
    height: 20px;
}

.delete{
    position: absolute;
    top:82vh;
    left:300px;
    font-size: 25px;
    font-family: "Igra Sans", serif;
    background-color: #2B2D42;
    color: #EDF2F4;
    border: 2px #EDF2F4 dashed;
    height: 40px;
}

button{
    position: absolute;
    top:82vh;
    left:50px;
    font-size: 25px;
    font-family: "Igra Sans", serif;
    background-color: #2B2D42;
    color: #EDF2F4;
    border: 2px #EDF2F4 dashed;
    height: 40px;
}

button:hover{
    background-color: #8D99AE;
}

button:active{
    background-color: #2B2D42;
}

/**/

/*Пароль, экран*/

.password_box{
    position: absolute;
    left: 510px;
    display: grid;
    justify-content: space-around;
    grid-template-columns: 100px 100px 100px;
    top: 10px;
    height: 50vh;
    width: 60%;
}

ul{
    left: 50px;
    list-style-type: none;
}

li{
    position: relative;
    font-family: "Igra Sans", serif;
    font-size: 31px;
    padding-top: 15px;
    color: #EDF2F4;
}

/**/

::-moz-selection{
    background-color: #2B2D42;
    color: #EDF2F4;
}

::selection{
    background-color: #2B2D42;
    color: #EDF2F4;
}

